

<router-outlet></router-outlet>





<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<div>
<a routerLink="/first" routerLinkActive="active">First</a>
</div>
<div>
   <a routerLink="/second" routerLinkActive="active">Second</a>
  </div>
  <div>
   <a routerLink="/three" routerLinkActive="active">Three</a>
  </div>
  <div>
   <a routerLink="/four" routerLinkActive="active">Four</a>
  </div>
   <div>
   <a routerLink="/pagenotfound" routerLinkActive="active">Page Not Found</a>
  </div> 

























  







  
<!-- 
  <div></div> --> 
<!-- 
  <div>
      <label> ArmStrong no program </label>
  Enter no  <input typee="text" name="no" [(ngModel)]="no" />
   <button (click)="armStrong()"> submit</button>
   This is armstong no {{ isArmstrong}}

 </div>



 <div>
    <label> Find out old and even no</label>

    <input type="text" [(ngModel)] ="number" />

    <button (click)="isOddEven()"> isEven</button>
 </div>

 {{isEven}}


 <div *ngFor=" let no of isEvenArray "> {{no}}</div>
 <input type="text" [(ngModel)]="xyz"/>
 <button (click)="displayNumbers()">1 to 100</button>
 <div *ngFor="let num of isDisplayNumbers">{{num}}</div> -->